body {
  background-color: #fafafa;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 5% 0 5%;
}

p, h1, h2, h3 {
  color: #7f8c8d;
}

a {
  color: #2980b9;
  text-decoration: none;
}

/*******************
 HEADER
*******************/

header {
  background-color: #2980b9;
  margin-bottom: 30px;
  padding-top: 5px;
  text-align: center;
}

#logo h1, #logo h2 {
  color: #fafafa;
  text-decoration: none;
}

#logo h1 {
  font-family: 'Limelight', sans-serif;
  font-size: 1.75em;
  margin: 15px 0 5px;
}

#logo h2 {
  font-size: .9em;
  font-weight: normal;
  margin: 5px 0 15px;
}

/*******************
 NAV
*******************/

nav {
  background-color: #44596E;
  margin: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fafafa;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

nav a.selected {
  color: #1d1e2c;
}


/*******************
 GALLERY
*******************/

#gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#gallery li {
  background-color: #ecf0f1;
  margin: 2.5% 0 10%;
}

#gallery li:last-child {
  margin-bottom: 0;
}

#gallery img {
  max-width: 100%;
}

#gallery p {
  margin: 0;
  padding: 3%;
}

/*******************
 ABOUT PAGE
*******************/

#profile-photo {
  border-radius: 50%;
  display: block;
  margin: 10px auto 20px;
  max-width: 50%;
}

/*******************
 CONTACT PAGE
*******************/

h3 {
  margin-top: 0;
}

#contact-info ul {
  list-style: none;
  padding: 0;
}

#contact-info li {
  padding: 5px 0;
}

/*******************
 FOOTER
*******************/

footer {
  color: #7f8c8d;
  padding: 20px;
  text-align: center;
}
