/* MEDIUM-WIDTH LAYOUT */
@media screen and (min-width: 480px) {
  #gallery li {
    display: inline-block;
    max-width: 45%;
    margin: calc(2.5% - 1px);
    vertical-align: top;
  }

  #profile-photo {
    float: left;
    margin: 0 5% 10px 0;
    max-width: 150px;
  }

  #contact-description {
    float: left;
    width: 50%;
  }

  #contact-info {
    float: right;
    width: 40%;
  }

  footer {
    clear: both;
  }

  /*
  h3 top margin doesn't collapse with header bottom margin in two-column Contact
  page layout because of floated sections or whatever
  */
  h3 {
    margin-top: 0;
  }
}

/* WIDE LAYOUT */
@media screen and (min-width: 660px) {
  header {
    border-bottom: 5px solid #44596E;
    height: 92px;
    width: 100%;
  }

  #header-wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
  }

  nav {
    background: none;
    float: right;
    font-size: 1.1em;
    margin: 25px 5%;
  }

  #gallery li {
    margin: calc(1.5% - 1px);
    max-width: 30%;
  }
