@media screen and (min-width: 480px) {
  #gallery li {
    float: left;
    max-width: 45%;
    margin: 2.5%;
  }

  #gallery li:nth-child(2n + 1) {
    clear: left;
  }

  #profile-photo {
    float: left;
    margin: 0 5% 80px 0;
    max-width: 150px;
  }

  #contact-description {
    float: left;
    width: 50%;
  }

  #contact-info {
    float: right;
    width: 40%;
  }

  footer {
    clear: both;
  }
}

@media screen and (min-width: 660px) {
  header {
    border-bottom: 5px solid #44596E;
    float: left;
    width: 100%;
  }

  #header-wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
  }

  nav {
    background: none;
    float: right;
    font-size: 1.1em;
    margin: 20px 5%;
  }

  #gallery li {
    float: left;
    margin: 1.5%;
    max-width: 30%;
  }

  /* undo two-column row clearing from "medium-width" layout */
  #gallery li:nth-child(2n + 1) {
    clear: none;
  }

  #gallery li:nth-child(3n + 1) {
    clear: left;
  }
}
